<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>publicKey</key>
	<string>5a5b6011887078934bc01b8d82340cc6</string>
	<key>privateKey</key>
	<string>10ca5fee55deb549cf5a5c021b1636179addeaaf</string>
</dict>
</plist>
